.bg_b{
    background-color: #0c4379 !important;
}

.text_b{
    color: #0c4379 !important;
}

.border_b{
    border: 2px solid #0c4379 !important;
}

.f_12 {
    font-size: 0.75rem !important; /* 12px */
  }
  
  .f_13 {
    font-size: 0.8125rem !important; /* 13px */
  }
  
  .f_14 {
    font-size: 0.875rem !important; /* 14px */
  }
  
  .f_15 {
    font-size: 0.9375rem !important; /* 15px */
  }
  
  .f_16 {
    font-size: 1rem !important; /* 16px */
  }
  
  .f_17 {
    font-size: 1.0625rem !important; /* 17px */
  }
  
  .f_18 {
    font-size: 1.125rem !important; /* 18px */
  }
  
  *{
    text-decoration: none !important;
  }

  .card-img {
    /* height: 100%; */
    height: 350px;
    object-fit: cover;
    border-radius: 0.75rem;
  }
  
  
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f0f0; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0c4379; 
    border-radius: 0px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #14457689; 
  }
 

  .card-wrapper {
    position: relative;
    overflow: hidden;
    transition: background 2s ease-in-out;
  }
  
  /* Decorative Leaf Shape (initial hidden state) */
  .card-wrapper::before {
    content: '';
    position: absolute;
    height: 128px;
    width: 128px;
    top: -75px;
    right: -75px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: #0c4379;
    transform: rotate(25deg) scale(0);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  
  /* On Hover - Reveal and Scale Up */
  .card-wrapper:hover::before {
    transform: rotate(25deg) scale(1);
    opacity: 1;
  }
  

  .form-control{
    box-shadow: none !important;
  }
  